
<html>
  <body>
    <h1>  This is {{title}} </h1>
  </body>


<!--  Navigating through Router -->
<!--  <nav>-->
<!--    <a routerLink="/templateDrivenForms"  routerLinkActive="active"> Template Driven Forms</a>-->
<!--    <br>-->
<!--    <br>-->
<!--    <a routerLink="/userFormComponent" routerLinkActive="active"> Reactive Form </a>-->
<!--  </nav>-->


  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
      <a ngbNavLink>One</a>
      <ng-template ngbNavContent>
        <app-template-driven-form> </app-template-driven-form>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>Two</a>
      <ng-template ngbNavContent>
        <app-user-form></app-user-form>
      </ng-template>
    </li>

  </ul>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

  <pre>Active: {{ active }}</pre>

</html>
<!--<router-outlet></router-outlet>-->



